<%- include("include/header"); %>
<main id="main">
  <div id="contents">
    <h2 class="title"><%= title %></h2>
    <div class="btns">
      <a href="/list">목록</a>
      <a href="/insert">입력</a>
    </div>
  </div>
</main>
<%- include("include/footer"); %>
